* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body * {
  font-family: "League Spartan", sans-serif;
}

body {
  display: flex;
  height: 100vh;
}

h1 {
  font-family: "Work Sans", sans-serif;
}

#container-left {
  width: 50%;
  height: 100%;
  background: black;
}

#container-left img {
  width: 389px;
  height: 94px;
  margin-top: 50px;
  margin-left: 30px;
}

#container-left h1 {
  color: #08c05e;
  font-size: 24px;
  font-weight: 700;
  margin-top: 92px;
  margin-left: 36px;
}

#container-left h2 {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  margin-top: 12px;
  margin-left: 36px;
}

#container-left p {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  margin-top: 12px;
  margin-left: 36px;
}

#container-right {
  width: 50%;
  height: 100%;
  background-image: url(./assets/read_news.jpg);
  background-position: 70%;
  background-repeat: no-repeat;
  background-size: cover;
}
