* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body * {
  font-family: "League Spartan", sans-serif;
}

body {
  display: flex;
  height: 100vh;
}

h1 {
  font-family: "Work Sans", sans-serif;
}

#container-left {
  width: 50%;
  height: 100%;
  background: black;
}

#container-left img {
  width: 389px;
  height: 94px;
  margin-top: 50px;
  margin-left: 30px;
}

#container-left h1 {
  color: #08c05e;
  font-size: 24px;
  font-weight: 700;
  margin-top: 92px;
  margin-left: 36px;
}

#container-left h2 {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  margin-top: 12px;
  margin-left: 36px;
}

#container-left p {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  margin-top: 12px;
  margin-left: 36px;
}

#form p {
  color: #a8a8a8;
  font-size: 14px;
  font-weight: 700;
  margin-top: 50px;
}

#form input {
  font-family: "Work Sans", sans-serif;
  font-size: 12px;
  width: 750px;
  height: 48px;
  margin-top: 17px;
  margin-left: 36px;
  padding: 17px 15px;
  position: absolute;
  border: 0;
  outline: 0;
  border-left: 5px solid #04d361;
}

#form button {
  background: #8257e5 url(./assets/send.svg) no-repeat center/24px;
  width: 48px;
  height: 48px;
  transform: translateX(786px);
  margin-top: 17px;
  border: 0;
}

#form button:hover {
  cursor: pointer;
}

#container-right {
  width: 50%;
  height: 100%;
  background-image: url(./assets/read_news.jpg);
  background-position: 70%;
  background-repeat: no-repeat;
  background-size: cover;
}
